body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.title {
  text-align: center;
}
.author{
  text-align: center;
}
.books{
  text-align: center;
}
.books li{
  list-style: none;
}
.code{
  text-align: center;
}
.quoted{
  text-align: center;
}
.quote{
  text-align: center;
}
